<a href="https://colab.research.google.com/github/zhuan0122/Machine_Learing_Handson_Python_in_Data_science/blob/master/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Enumerate function / append function / concantenate function
## store values in matrix/arry or list

### By default, the Python enumerate() function returns an enumerated object. You can convert this object to a tuple or a list by using tuple(<enumerate>) and list(<enumerate>), respectively.
### Using enumerate() instead of more verbose loops not only makes the code cleaner but is a more Pythonic way of programming. Such loops can be messy and can have more errors.

In [2]:
cars = ['kia', 'audi', 'bmw']
print(list(enumerate(cars, start = 1)))

[(1, 'kia'), (2, 'audi'), (3, 'bmw')]

In [3]:
# use for loop to achive the result above 
cars = ['kia', 'audi', 'bmw']
listOfCars = []
n = 0
for car in cars:
    listOfCars.append((n, car))
    n += 1
print(listOfCars)

[(0, 'kia'), (1, 'audi'), (2, 'bmw')]

In [7]:
y_set=[1,2,3]
li=[]
for i in enumerate(y_set):
  li.append(i)
print(li)

[(0, 1), (1, 2), (2, 3)]

In [10]:
tuple(li)

((0, 1), (1, 2), (2, 3))

In [8]:
y_set=[1,2,3]
li2=[]
for i in y_set:
  li2.append(i)
print(li)

[(0, 1), (1, 2), (2, 3)]

## concatnate data frame columns

In [12]:
from pandas import DataFrame 

Dates = {'Day': [1,2,3,4,5], 
        'Month': ['Jun','Jul','Aug','Sep','Oct'], 
        'Year': [2016,2017,2018,2019,2020]} 

df = DataFrame(Dates, columns= ['Day', 'Month','Year'])
print (df)

   Day Month  Year
0    1   Jun  2016
1    2   Jul  2017
2    3   Aug  2018
3    4   Sep  2019
4    5   Oct  2020

In [11]:
from pandas import DataFrame 

Dates = {'Day': [1,2,3,4,5], 
        'Month': ['Jun','Jul','Aug','Sep','Oct'], 
        'Year': [2016,2017,2018,2019,2020]} 

df = DataFrame(Dates, columns= ['Day', 'Month','Year']) 

df1 = df['Day'].map(str) + '-' + df['Month'].map(str) + '-' + df['Year'].map(str)
print (df1)

0    1-Jun-2016
1    2-Jul-2017
2    3-Aug-2018
3    4-Sep-2019
4    5-Oct-2020
dtype: object

## concatanate strings use '+' which is equal to concatanate

In [14]:
from pandas import DataFrame 

Dates = {'Day': [1,2,3,4,5], 
        'Month': ['Jun','Jul','Aug','Sep','Oct'], 
        'Year': [2016,2017,2018,2019,2020]} 

df1 = DataFrame(Dates, columns= ['Day', 'Month','Year']) 

Rates = {'Unemployment Rate': [5.5,5,5.2,5.1,4.9], 
         'Interest Rate': [1.75,1.5,1.25,1.5,2]} 

df2 = DataFrame(Rates, columns= ['Unemployment Rate', 'Interest Rate'])

df_combined = df1['Day'].map(str) + '-' + df1['Month'].map(str) + '-' + df1['Year'].map(str) + ': ' + 'Unemployment: ' + df2['Unemployment Rate'].map(str) + '; ' + 'Interest: ' + df2['Interest Rate'].map(str)
print (df_combined)

0    1-Jun-2016: Unemployment: 5.5; Interest: 1.75
1     2-Jul-2017: Unemployment: 5.0; Interest: 1.5
2    3-Aug-2018: Unemployment: 5.2; Interest: 1.25
3     4-Sep-2019: Unemployment: 5.1; Interest: 1.5
4     5-Oct-2020: Unemployment: 4.9; Interest: 2.0
dtype: object

In [18]:
str1 = 'helo'
str2 = 'wporld'
print(str1 + str2)

helowporld